<settings>
   <setting id="fuser" type="text" label="Tai khoan" />
   <setting id="fpass" type="text" option="hidden" label="Mat khau" />
   <setting id="sharinglist" type="text" label="Sharing list" default="thuynga.fvideo,asia.fvideo,VanSon.fvideo,DuyQuang.fvideo,Xuan.fvideo,DuyenDangVietNam.fvideo,007.fvideo,ChungTuDon.fvideo,LyLienKiet.fvideo,ThanhLong.fvideo" />
   <setting id="search_num" type="text" label="Search Number" default="50" />
</settings>